<div class="game-container" tabindex="0" @onclick="gameManager.GameStart" @onkeyup="HandleKeyUp">
    <div class="sky">
        <Bird birdModel="gameManager.Bird" />
    </div>
    <div class="ground"></div>

    @foreach (var pipe in gameManager.Pipes)
    {
        <Pipe pipeModel="pipe" />
    }
</div>

@code {
    GameManager gameManager = new GameManager();

    protected override void OnInitialized()
    {
        gameManager.MainLoopCompleted += (o, e) => StateHasChanged();
    }

    private void HandleKeyUp (KeyboardEventArgs e)
    {
        if (e.Key == " ") gameManager.Jump();
    }
}